<!--users/templates/registration/login.html-->
<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="container">
    {% extends 'base.html' %} {% block content %}

    <form method="post" class="form-1">
      <h1>Log in</h1>
      {% csrf_token %} {{ form.as_p }}
      <!-- <label for="username">Name:</label> -->
      <!-- <input
        type="text"
        placeholder="username"
        maxlength="100"
        required
        id="id_username"
        autofocus
      /><br /> -->

      <!-- <label for="password">Password:</label> -->
      <!-- <input
        type="text"
        placeholder="password"
        name="password"
        maxlength="100"
        required
        id="id_password"
      /><br /> -->

      <input type="submit" value="Login" />
    </form>

    {% endblock %}
  </div>
</body>
