{% extends 'base.html' %}
{% block content %}
<style>
  #hide-topic-button{
    display: none;
  }

  #index-box{
      display: block;
  }
  #index-box a{
    border-radius: 0;
  }
  

  .timeline{
    /* border-left: 5px solid yellow; */
    /* border-radius: 0px 50px 50px 0; */
  }
  .line{
    height:150px;
    width:10px;
    background-color:rgb(64, 255, 6);
    position:absolute
  }
  .shield{
    height:20px;
    width:20px;
    border-radius: 50%;
    z-index: 1000;
    position:absolute;
    top:-45px;
    left:-25px;
    font-size: 3rem;
  }


  @media only screen and (max-width: 600px) {
    #hide-topic-button{
      display: inline-block;
      padding: 0;
    }
    #index-box{
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 1000;
    }
    .timeline .info{
      display: block;
    }
    .shield{
      top:-25px;
      left:-15px;
    }
    .course{
      top:-8px;
      left:25px;
    }
  }
</style>
<!-- {% load static %} -->
{{ err }}

{% if user.is_authenticated %}
<section id="main-content" class="mb-1">
  <div style="width: 100%;" class="p-2 bg-dark text-white rounded-3">
      <a href="{% url 'dashboard' %}">
        <span class="text-info">All Courses</span>
      </a> 
      <span class="text-light">></span>   
      <span class="text-info">{{course.name}} </span>
      <button id="hide-topic-button" class="btn btn-light fixed" style="float:right" >
        📑
    </button>
    <span style="clear: both;"></span>
  </div>
    
{% if isActive %}
<section class="row">
  <div id="index-box" class="col-sm-3" style="height:95vh ;overflow: auto;border-right: 1px solid black;">
      <ul class="list-group mt-4 topic-list col-sm2">
        {% for key,topics in sidebar.items %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button"
                  style="background-color: rgb(36, 36, 36);border: none;color: white;"
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#k{{key.id}}" 
                  aria-expanded="true" 
                  aria-controls="k{{key.id}}">
                    {{key}}
              </button>
            </h2>
            
            <div  id="k{{key.id}}"
              {% if key.id is nextSection.id %}
                class="accordion-collapse collapse show" 
              {% else %}
                class="accordion-collapse collapse hide" 
              {% endif %}
              aria-labelledby="headingOne" 
              data-bs-parent="#accordionExample">
                <div class="mb-1">
                  {% for t in topics %}
                    {% if t.id in completedTopics %}
                      <a href="{% url 'topicDetails'  t.id %}">
                        <li class="list-group-item" >
                          <!-- <span class="d-flex align-items-center" style="border-right: 2px dashed black;height:40px;width:5px">
                            <span style="position:relative;left:-10px">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25" height="25" viewBox="0 0 256 256" xml:space="preserve">

                              <defs>
                              </defs>
                              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                <path d="M 88.119 23.338 c -1.035 -3.872 -4.085 -6.922 -7.957 -7.957 C 73.144 13.5 45 13.5 45 13.5 s -28.144 0 -35.162 1.881 c -3.872 1.035 -6.922 4.085 -7.957 7.957 C 0 30.356 0 45 0 45 s 0 14.644 1.881 21.662 c 1.035 3.872 4.085 6.922 7.957 7.957 C 16.856 76.5 45 76.5 45 76.5 s 28.144 0 35.162 -1.881 c 3.872 -1.035 6.922 -4.085 7.957 -7.957 C 90 59.644 90 45 90 45 S 90 30.356 88.119 23.338 z M 36 58.5 v -27 L 59.382 45 L 36 58.5 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              </g>
                              </svg>
                            </span>
                          </span> -->
                          <!-- <span class="d-flex align-items-center" style="padding-left:20px;color: green;"> -->
                            <!-- {{ forloop.counter }}. -->{{ t.title }} 
                            <span class="badge text-bg-success">Completed</span>
                          <!-- </span> -->
                        </li>
                      </a>
                    {% else %}
                      {% if t.id is nextTopic.id %}
                        <a href="{% url 'topicDetails'  t.id %}">
                          <li class="list-group-item bg-danger text-light">
                            <!-- <span class="d-flex align-items-center" style="border-right: 2px dashed black;height:40px;width:5px">
                              <span style="position:relative;left:-10px">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25" height="25" viewBox="0 0 256 256" xml:space="preserve">
  
                                <defs>
                                </defs>
                                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                  <path d="M 88.119 23.338 c -1.035 -3.872 -4.085 -6.922 -7.957 -7.957 C 73.144 13.5 45 13.5 45 13.5 s -28.144 0 -35.162 1.881 c -3.872 1.035 -6.922 4.085 -7.957 7.957 C 0 30.356 0 45 0 45 s 0 14.644 1.881 21.662 c 1.035 3.872 4.085 6.922 7.957 7.957 C 16.856 76.5 45 76.5 45 76.5 s 28.144 0 35.162 -1.881 c 3.872 -1.035 6.922 -4.085 7.957 -7.957 C 90 59.644 90 45 90 45 S 90 30.356 88.119 23.338 z M 36 58.5 v -27 L 59.382 45 L 36 58.5 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                </g>
                                </svg>
                              </span> 
                            </span>-->
                            <!-- <span class="d-flex align-items-center" style="padding-left:20px;"> -->
                             <strong> {{ t.title }} </strong>
                              <span class="badge text-bg-danger">Current<span>
                            <!-- </span> -->
                          </li>
                        </a>
                      {% else %}
                        <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          <!-- <span class="d-flex align-items-center" style="border-right: 2px dashed black;height:40px;width:5px">
                            <span style="position:relative;left:-10px">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="25" height="25" viewBox="0 0 256 256" xml:space="preserve">
                              <defs>
                              </defs>
                              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                <path d="M 88.119 23.338 c -1.035 -3.872 -4.085 -6.922 -7.957 -7.957 C 73.144 13.5 45 13.5 45 13.5 s -28.144 0 -35.162 1.881 c -3.872 1.035 -6.922 4.085 -7.957 7.957 C 0 30.356 0 45 0 45 s 0 14.644 1.881 21.662 c 1.035 3.872 4.085 6.922 7.957 7.957 C 16.856 76.5 45 76.5 45 76.5 s 28.144 0 35.162 -1.881 c 3.872 -1.035 6.922 -4.085 7.957 -7.957 C 90 59.644 90 45 90 45 S 90 30.356 88.119 23.338 z M 36 58.5 v -27 L 59.382 45 L 36 58.5 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                              </g>
                              </svg>
                            </span>
                          </span> -->
                          <!-- <span class="d-flex align-items-center text-dark" style="padding-left:20px;"> -->
                            {{ t.title }} 
                          <!-- </span> -->
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
        {%endfor%}
    </ul>
  </div>
  <div id="content-box" class="col-sm-9" style="display: flex;flex-direction: column;align-items: center;text-align: center;height:95vh;overflow:auto;">
    <div >
      <span class="text-dark display-2"> Hii, {{user.get_short_name}}  </span><br>
      Your next lesson is <br><span class="text-primary" style="font-size: 1.5rem;font-weight:bolder;">{{nextTopic.title}}</span>
      <br>
      <a href="{% url 'topicDetails'  nextTopic.id %}">
        <button class="btn btn-danger">Click here to view</button>
      </a>
    </div>
    <section class="my-2" style="width: 100%;">
      <div class="bg-light rounded-3 border border-warning d-flex align-items-center" style="width: 100%;height:40px">
        <div  class="bg-warning rounded-3" 
              style="width:{{percentCompleted}}%;height:40px;">
        </div>
      </div>
      <strong class="text-dark mt-2"> {{percentCompleted}}% syllabus completed</strong>
      
    </section>
    <section class="timeline-wrapper">
      {% for submit in submits %}
    
      <div class="bg-dark px-5 timeline d-flex mt-5 rounded-1" >
        <div style="position:relative;">
          <div class="shield">🎯</div>
          <div class="line"></div>
        </div>
        <div class=" py-3 px-5 ">
          <h4 class="text-light"><span class="px-2">📝</span>{{submit.0}}</h4> 
          <strong class="text-info"><span class="px-2">👤</span>{{submit.1}}</strong> 
          <strong class="text-danger"><span class="px-2">⏲</span>{{submit.2}}</strong>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>
</section>

{% else %}
<div class="d-flex justify-content-center aligned-item-center" >
  <span class="display-5">Comming Soon</span>
</div>
{% endif %}
  <!-- Modal -->
  <div class="modal fade bg-dark" style="--bs-bg-opacity: .5;" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Hey, {{user}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span style="font-weight: bolder;">Please complete the <span class="badge text-bg-danger">Current</span> topics first  </span>
          <br>
          <a href="{% url 'topicDetails'  nextTopic.id %}">Go to Current Video</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK &#128077</button>
        </div>
      </div>
    </div>
  </div>

{% else %}
<h1>Please Login to View Courses </h1>

{% endif %}
</div>
<script>
   index_box_open= false
      hide_topic_button = document.getElementById("hide-topic-button")

      hide_topic_button.addEventListener('click',()=>{
        content_box = document.getElementById("content-box")
        index_box = document.getElementById("index-box")
        if(index_box_open){
          content_box.style.width = '100%'
          content_box.style.opacity = 1
          index_box.style.display = 'none'
          index_box_open = false
          hide_topic_button.innerHTML = `📑`
        }else{   
          index_box.style.display = 'block'
          content_box.style.opacity = 0
          index_box.style.width = '100%'
          index_box_open = true
          hide_topic_button.innerHTML = `✖`

        }
      })

</script>
{% endblock %}