{% if mcqs %}
{% for mcq in mcqs %}
<div class="card-header p-3 question" >
    <span style="font-weight:bold"> Q. {{mcq.question}}?</span>
    <!-- If there is image for this question -->
    {% if mcq.questionImage %}
    <div class="mt-2">
      <img src="{{mcq.questionImage.url}}" alt="" >
    </div>
    {% endif %}
    <!-- if there is hint for this topic -->
  </div>
  <div class="mcq-form">
    <div>
      <input type="radio" name="{{mcq.id}}" id="" value="{{mcq.option1}}" required>{{mcq.option1}}
    </div>
    <div>
      <input type="radio" name="{{mcq.id}}" id="" value="{{mcq.option2}}" required>{{mcq.option2}}
    </div>
    <!-- if option3 is available -->
    {% if mcq.option3 %}
    <div>
      <input type="radio" name="{{mcq.id}}" id="" value="{{mcq.option3}}" required>{{mcq.option3}}
    </div>
    {% endif %}
    <!-- if option4 is available -->
    {% if mcq.option4 %}
    <div>
      <input type="radio" name="{{mcq.id}}" id="" value="{{mcq.option4}}" required>{{mcq.option4}}
    </div>
    {% endif %}
  </div>
  <div>
    {% if mcq.hint %}
    <div class="mt-2">
      <span class="badge text-bg-info mr-2" id="hint" name="mcq.id">Hint</span>
      <span style="display:none;" class="text-danger">{{mcq.hint}}</span>
    </div>
    {% endif %}
  </div>
  <input type="submit" value="SUBMIT" class="btn btn-success">
</div>

{% endfor %}
{% else %}
{{message}}
{% endif %}