{% extends 'base.html' %}
{% block content %}
{{ err }}

{% if user.is_authenticated %}
    {% if completed  %}
      <section id="main-content" class="mb-1">
        You have completed this topic successfully.
        <br>
        {% if completed and score %}
          New Score : {{score}}/{{total}}
        {% endif %}
        <br>
        <a class="btn btn-success" href="{% url 'topicDetails'  nextTopic %}">Next Topic</a>

      </section>
    {% else %}
      {% if success %}
        <section id="main-content" class="mb-1">
          <h1 class="text-success"> You completed this topic successfully.</h1>
          <br>
          {% if score %}
            Your Score : {{score}}/{{total}}
            <br>
            {% endif %}
            <a class="btn btn-success" href="{% url 'topicDetails'  nextTopic %}">Next Topic </a>
        </section>
      
      {% else %}
        <section id="main-content" class="mb-1">
          <h1 class="text-info"> You need to improve on this topic. Go through the topic again.</h1>
          <br>
          {% if score %}
            Your Score : {{score}}/{{total}}
          {% endif %}
          <button class="btn btn-info" onclick="history.back(-1)">Revise</button>

        </section>
      {% endif %}
    {% endif %}
{% else %}
  <h1>Please Login to View Courses </h1>

{% endif %}
{% endblock %}